{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>music app</title>
    <link rel="stylesheet" href="{% static 'lastfm/css/style.css' %}">
</head>
<body>


<h1>Navigation Menu</h1>
<hr>
    <p>Choose a feature from the following options: </p>
    <ol>
        <li><a href="{% url 'top_artists' %}">Top artists of a country</a></li>
        <li><a href="{% url 'top_tracks' %}">Top tracks of a country</a></li>
        <hr>
        <li><a href="{% url 'artist_search' %}">Search for an artist</a></li>
        <li><a href="{% url 'album_search' %}">Search for an album</a></li>
        <li><a href="{% url 'track_search' %}">Search for a track</a></li>
        <hr>
        <li><a href="{% url 'similar_artists' %}">Find similar artists</a></li>
    </ol>
<hr>
</body>
</html>