<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>music app</title>
</head>
<body>


<h1>navigation menu</h1>
    <p>choose a feature from the following options: </p>

    <ul>
        <li><a href="{% url 'top_artists' %}">Top artists of a country</a></li>
        <li><a href="{% url 'top_tracks' %}">Top tracks of a country</a></li>
        <li><a href="{% url 'artist_search' %}">Search for an artist</a></li>
        <li><a href="{% url 'album_search' %}">Search for an album</a></li>
        <li><a href="{% url 'track_search' %}">Search for a track</a></li>
    </ul>

