{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>music app</title>
    <link rel="stylesheet" href="{% static 'lastfm/css/page.css' %}">
</head>
<body>


<h2>Top artists of a country</h2>
    <p>Enter a country's name</p>
    <form method="GET">
        <input type="text" name="country" value="{{ input }}" placeholder="ex: India">
        <button type="submit">Search</button>
        {% url 'home' as home_url %}
        <button type="button" onclick="window.location.href='{{ home_url }}'" style="float: right; padding: 2px 30px; background-color: #51a3be; color: blue; font-size: 20px;">home</button>
    </form>
<hr>
    {%if artists%}
        <h3>Results:</h3>
        <ol>
            {%for artist in artists%}
            <li>
            <a href="{{ artist.url }}" target="_blank">{{ artist.name }}</a>
            </li>
            {%endfor%}
        </ol>
    {%endif%}
